* {
  margin:0px;
  padding:0px;
}

#customOctocat {
  display: block;
  width:200px;
  /*margin-right: 50px;*/
  float: right;
  margin: 0px, 0px, 15px, 15px;
}

/* style for id="salutation" */
#salutation {
  margin-left: 50px;
  font-family: "Euclid", sans-serif;
  font-style: bold;
  font-size: 50px;
}

/* style for class="text" */
/*.text {
  font-family: "Euclid", sans-serif;
  font-style: normal;
  font-size: 20px;
}*/

p {
  display: block;
  width: 400px;
  /* left align, 50px from left window border*/
  margin-left: 50px;
  /* font settings */
  font-family: "Euclid", sans-serif;
  font-style: normal;
  font-size: 20px;
}
